/*variables de color*/
$beige: #BD9B60;
$darkblue: #003865;
$lightblue: #005EB8;

:root {
	--beige: #BD9B60;
	--darkblue: #003865;
	--lightblue: #005EB8;
}

body {
	// overflow-x: hidden;
}
a:active,
a:focus,
a:visited {
	outline: none;
}

.button.is-danger {
  background-color: #DA343C;
  &:hover {
    background-color: #C32F37 !important;
  }
}

.button.is-link {
  background-color: $darkblue;
  &:hover {
    background-color: #073F74 !important;
  }
}

.input::-moz-placeholder, 
.textarea::-moz-placeholder, 
.select select::-moz-placeholder {
  color: #A1A3A3;
}

.v-carousel .VueCarousel-pagination {
	position: absolute;
	bottom: 10px;
	left: 0;
}

@media (max-width: 768px) {
	.button {
		font-size: 1rem !important;
	}
	.section {
    padding: 1.5rem 0.5rem;

    .title.is-4 {
    	font-size: 20px;
    }
	}
}


.class-cine {
	background-color: #005EB8;
}
.class-cine .title, 
.class-cine p {
	color: #fff;
}

.class-radio {
	background-color: #003865;
}
.class-radio .title, 
.class-radio p {
	color: #fff;
}

.class-tv {
	background-color: #BD9B60;
}
.class-tv .title,
.class-tv p {
	color: #000;
}