/*variables de color*/
:root {
	--beige: #BD9B60;
	--darkblue: #003865;
	--lightblue: #005EB8;
}

a:active,
a:focus,
a:visited {
	outline: none;
}

.button.is-danger {
  background-color: #DA343C;
  &:hover {
    background-color: #C32F37 !important;
  }
}

@media (max-width: 768px) {
	.button {
		font-size: 1rem !important;
	}
	.section {
    padding: 1.5rem 0.5rem;

    .title.is-4 {
    	font-size: 20px;
    }
	}
}